// grades.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Школьный журнал — Оценки
    link(rel="stylesheet", href=require("../scss/grades.scss"))
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    // Бургер-меню
    .menu-btn
      span.material-icons menu

    // Сайдбар
    nav.sidebar
      ul
        li
          a(href="#")
            span.material-icons home
            |  Главная
        li
          a(href="#")
            span.material-icons class
            |  Страница класса
        li
          a(href="#")
            span.material-icons login
            |  Выход

    // Контент
    main
      section.grades
        .grades-header
          h1#class_grades 7B класс
          button#add-grade-btn.btn(type="button") Добавить оценки

        table
          thead
            tr
              th Ученик
              th Математика
              th Русский
              th Физика
              th Химия
          tbody
            tr
              td Иванов И.И.
              td 5
              td 4
              td 3
              td 5
            tr
              td Петрова О.С.
              td 4
              td 5
              td 4
              td 4
            tr
              td Денис Ч.В.
              td 5
              td 4
              td 3
              td 5
            tr
              td Петрова О.С.
              td 4
              td 5
              td 4
              td 4

      // Модалка «Добавить оценки»
      #modal.modal
        .modal-content
          span.close-modal &times;
          h2 Добавить оценку
          form#add-grade-form
            .form-group
              label(for="student-name") ФИО ученика
              input#student-name(type="text" name="student-name")
            .form-group
              label(for="grade-value") Оценка
              input#grade-value(type="number" name="grade-value" min="1" max="5")
            .form-group
              label(for="subject") Предмет
              select#subject(name="subject")
                option(value="" disabled selected) – Выберите предмет –
                option(value="math") Математика
                option(value="rus") Русский язык
                option(value="phys") Физика
                option(value="chem") Химия
            button.btn(type="button") Сохранить

      section.news-section
        h2 Новости класса
        .news-container
          .news-item
            h3 Открытие новой лаборатории
            p С сегодняшнего дня начинает работу новая химическая лаборатория.
          .news-item
            h3 Праздник осени
            p Не пропустите ежегодный школьный фестиваль в пятницу!
          .news-item
            h3 Родительское собрание
            p Напоминаем, что собрание состоится в среду в 18:00.

    script(src=require("/Js/grades.js"))
