doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Школьный журнал — Оценки
    link(rel="stylesheet", href="grades.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    // Бургер-меню
    .menu-btn
      span.material-icons menu

    // Сайдбар
    nav.sidebar
      ul
        li
          a(href="gs.html")
            span.material-icons home
            |  Главная
        li
          a(href="class.html")
            span.material-icons class
            |  Класс
        li
          a.active(href="grades.html")
            span.material-icons grade
            |  Оценки
        li
          a(href="login.html")
            span.material-icons login
            |  Выход
        li
          a(href="admin.html")
            span.material-icons admin_panel_settings
            |  Админка

    // Основной контент
    main
      section.grades
        .grades-header
          h1 📊 Таблица оценок
          button#edit-grades-btn.btn Добавить оценки
        table
          thead
            tr
              th Ученик
              th Математика
              th Русский
              th Физика
              th Химия
          tbody

      // Модальное окно для редактирования
      #modal.modal
        .modal-content
          span.close-modal &times;
          h2 Редактировать оценки
          #editable-grades
          button#save-grades-btn.btn Сохранить изменения

    script(src="grades.js", defer)