{% extends 'layout.html' %}

{% block title %} SkyDream - RPG items {%endblock%}
{% block content %}
<div class = "rpg-items">
    {% for item in items%}
        <a href="{% url 'rpg_item' item.item_id %}">
            <div class = "rpg-item">
                <img src = "">
                <div class = "item-mini-stats">
                    <span class="item-name">{{item.item_id}}. {{ item.name }}</span>
                    <div class = "quality">
                        {%if item.quality == "COMMON"%}
                            <span style="background-color: gray">Обычное</span>
                        {%elif item.quality == "UNCOMMON" %}
                            <span style="background-color: rgb(0, 68, 11);">Необычное</span>
                        {%elif item.quality == "RARE" %}
                            <span style="background-color: rgb(16, 0, 85);">Редкое</span>
                        {%elif item.quality == "EPIC" %}
                            <span style="background-color: rgb(49, 21, 68);">Эпическое</span>
                        {%elif item.quality == "LEGENDARY" %}
                            <span style="background-color: rgb(156, 107, 0); color:black">Легендарное</span>
                        {%elif item.quality == "MYTHIC" %}
                            <span style="background-color: rgb(58, 0, 0);">Мифический</span>
                        {%elif item.quality == "QUEST" %}
                            <span style="background-color: green;">Квестовый</span>
                        {%endif%}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}